body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

/* LOGO */
.logo {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.logo-accent {
    color: #4d5ae5;
}


/* NAVBAR */
.nav-list {
    list-style: none;
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
}

.nav-item a:hover {
    color: #404BBF;
}


.contacts-list {
    list-style: none;
    font-style: normal;
}

.contacts-item a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
}

.contacts-item a:hover {
    color: #404BBF;
}


/* HERO */
.hero {
    position: relative;
}

.hero-title {
    background-color: #2E2F42;
    color: white;
    font-size: 56px;
    font-weight: 700;
    text-align: center;

    padding: 0 0 60px 0;
}

/* BTN */
.hero-btn {
    position: absolute;
    left: 2px;
    bottom: 2px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.hero-btn:hover {
    background-color: #404BBF;
}


/* FEATURES */
.features-title {
    font-size: 36px;
    font-weight: 700;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
}

.features-text {
    font-size: 12px;
    font-weight: 400;
}

.features-list {
    list-style: none;
}


/* TEAM */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* IMG */
.team-list {
    list-style: none;
}

.team-item {
    background-color: white;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.team-role {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}


/* PORTFOLIO */
.portfolio-list {
    list-style: none;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
}

.portfolio-category {
    font-size: 12px;
    font-weight: 400;
}


/* FOOTER */
.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

.footer-logo {

    color: #F4F4FD;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.footer-logo-accent {
    color: #4D5AE5;
}