body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

/* LOGO */
.logo {
    color: #2E2F42;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.logo-accent {
    color: #4d5ae5;
}


/* NAVBAR */
.nav-list {
    font-size: 16px;
}

.nav-item a {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #404BBF;
}


address {
    font-style: normal;
}

.contacts-item a {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contacts-item a:hover,
.contacts-item a:focus {
    color: #404BBF;
}


/* HERO */
.hero {
    /* position: relative; */
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: #ffffff;
    text-align: center;
}

/* BTN */
.hero-btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}


/* FEATURES */
.features-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}



/* TEAM */
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

/* IMG */
.team-item {
    background-color: #ffffff;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.team-role {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/* PORTFOLIO */
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.72px;
    color: #2E2F42;
}

.portfolio-name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: #2E2F42;
}

.portfolio-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/* FOOTER */
.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer-logo {
    color: #F4F4FD;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.footer-logo-accent {
    color: #4D5AE5;
}